<div class="form-group">
    <label>{{localize "CONAN.actionTypeLabel"}}</label>
    <select name="data.actionType.value" data-dtype="Text">
        {{#select data.actionType.value}}
        {{#each actionTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "CONAN.actionCountLabel"}}</label>
    <select name="data.actionCount.value" data-dtype="Number">
        {{#select data.actionCount.value}}
        <option value=""></option>
        {{#each actionCount as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "CONAN.actionCategoryLabel"}}</label>
    <select name="data.actionCategory.value" data-dtype="Text">
        {{#select data.actionCategory.value}}
        <option value=""></option>
        {{#each actionCategories as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>
