<div class="form-group">
    <label>{{localize "CONAN.equipmentEquippedLabel"}}</label>
    <input type="checkbox" name="data.equipped.value" value="1" data-dtype="{{data.equipped.type}}" {{checked data.equipped.value}}/>
</div>

<div class="form-group-stacked">
    <label for="data.armor.qualities">
        {{localize "CONAN.qualitiesLabel"}}
        <a class="trait-selector" data-options="equipmentQualities"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="qualities-list co-value co-large">
        {{#each data.armor.qualities.value as |v k|}}
        <span class="tag {{k}}">{{v}}</span>
        {{/each}}
    </ul>
</div>


