<h4 class="sidebar-summary">{{localize "CONAN.talentSummary"}}</h4>

<span class="item-summary">{{lookup talentTypes data.talentType }}</span><br>
{{# if data.prerequisites }}
<span class="item-summary">{{localize "CONAN.talentRequiresLabel"}} {{ data.prerequisites }}</span>{{/if}}

<ol class="item-tags">
{{#each 
	data.quality.value as |v|}} <li class="tag">{{v}}
{{/each}} </li>
{{#if data.rank.value}}
<li class="tag">{{localize "CONAN.talentRankLabel"}} {{data.rank.value}}</li>
{{/if}}
{{#if data.actionType}}
	<li class="tag">{{data.actionType}}</li>
{{/if}}
</ol>

{{#if itemTags.length}}
<ol class="item-tags">
    {{#each itemTags}}
    <li class="tag">{{this}}</li>
    {{/each}}
</ol>
{{/if}}

