<div class="health">
        <h2>{{localize "CONAN.npc.sections.health"}}</h2>
    <div class="npc-health-grid">
        <div class="npc-vigor">
            <label class="vigor-label">{{localize "CONAN.healthVigor"}}</label>
            <input name="data.health.physical.value" type="Number" value="{{data.health.physical.value}}" placeholder="4" />
        </div>
        <div class="npc-resolve">
            <label class="resolve-label">{{localize "CONAN.healthResolve"}}</label>
            <input name="data.health.mental.value" type="Number" value="{{data.health.mental.value}}" placeholder="4" />
        </div>
        <div class="npc-armor">
            <label class="armor-label">{{localize "CONAN.healthArmor"}}</label>
            <input name="data.armor" type="Number" value="{{data.armor}}" placeholder="4" />
        </div>
        <div class="npc-courage">
            <label class="courage-label">{{localize "CONAN.healthCourage"}}</label>
            <input name="data.health.courage" type="Number" value="{{data.health.courage}}" placeholder="4" />
        </div>
    </div>
</div>
