.window-app {
  font-family: $font-primary;
}

h1, h2, h3, h4, h5 {
  font: 'celticbold', sans-serif;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}