<header class="char-header">
    <div class="char-details">
        <h1 class="char-name">
            <input
                name="name"
                type="text"
                value="{{actor.name}}"
                placeholder="{{localize "CONAN.characterNamePlaceholder"}}"
            />
        </h1>
    </div>
    <div class="char-level">
        <div class="exp-data">
            <div class="exp-input">
                <input
                    name="data.resources.xp.value"
                    type="text" 
                    value="{{data.resources.xp.value}}"
                    data-dtype="Number"
                    placeholder="0"
                    size="4"
                />
                <span class="max" data-wpad="14">
                    /
                    {{data.resources.xp.max}}
                </span>
            </div>
            <div class="exp-bar">
                <span 
                    class="bar" 
                    style="width: {{data.resources.xp.pct}}%">
                </span>
            </div>
        </div>
    </div>
</header>

