<div class="sidebar-armor">
  <div class="courage-value">
    <label>{{localize "CONAN.healthCourage"}}</label>
    <input
      title="{{localize CONAN.healthCourageTitle}}"
      name="data.health.courage"
      type="Number"
      value="{{data.health.courage}}"
      data-dtype="Number"
      placeholder=""
    />
  </div>
  <div class="soak-table">
    <table>
      <tr class="tracker-header">
        <th
          title="{{localize CONAN.armorSoakTitle}}"
          class="armor-header"
          colspan="2"
        >
          {{localize "CONAN.armorSoakLabel"}}
        </th>
      </tr>
      <tr class="tracker-entry">
        <td class="tracker-label">{{ localize "CONAN.coverage.head" }}</td>
        <td class="tracker-score">
          <input
            type="Number"
            name="data.armor.head.soak.[0]"
            value="{{data.armor.head.soak.[0]}}"
            disabled
          />
        </td>
      </tr>
      <tr class="tracker-entry">
        <td class="tracker-label">{{ localize "CONAN.coverage.torso" }}</td>
        <td class="tracker-score">
          <input
            type="Number"
            name="data.armor.torso.soak.[0]"
            value="{{data.armor.torso.soak.[0]}}"
            disabled
          />
        </td>
      </tr>
      <tr class="tracker-entry">
        <td class="tracker-label">{{ localize "CONAN.coverage.larm" }}</td>
        <td class="tracker-score">
          <input
            type="Number"
            name="data.armor.larm.soak.[0]"
            value="{{data.armor.larm.soak.[0]}}"
            disabled
          />
        </td>
      </tr>
      <tr class="tracker-entry">
        <td class="tracker-label">{{ localize "CONAN.coverage.rarm" }}</td>
        <td class="tracker-score">
          <input
            type="Number"
            name="data.armor.rarm.soak.[0]"
            value="{{data.armor.rarm.soak.[0]}}"
            disabled
          />
        </td>
      </tr>
      <tr class="tracker-entry">
        <td class="tracker-label">{{ localize "CONAN.coverage.lleg" }}</td>
        <td class="tracker-score">
          <input
            type="Number"
            name="data.armor.lleg.soak.0"
            value="{{data.armor.lleg.soak.[0]}}"
            disabled
          />
        </td>
      </tr>
      <tr class="tracker-entry">
        <td class="tracker-label">{{ localize "CONAN.coverage.rleg" }}</td>
        <td class="tracker-score">
          <input
            type="Number"
            name="data.armor.rleg.soak.0"
            value="{{data.armor.rleg.soak.[0]}}"
            disabled
          />
        </td>
      </tr>
      <tr class="table-footer">
        <th class="shield-header">{{ localize "CONAN.weaponGroup.shi" }}</th>
        <td class="shield-tracker-score">
          <input
            type="Number"
            name="data.armor.shield.soak.0"
            value="{{data.armor.shield.soak.[0]}}"
            disabled
          />
        </td>
      </tr>
    </table>
  </div>
  <div class="armor-qualities">
    <label>{{localize "CONAN.armorQualitiesActiveLabel"}}</label>
    <ul class="tags">
      {{#each data.armor.qualityCount as |v k|}} {{#ifCond k '===' 'heavy'}}
      {{#ifCond v '>=' 3}}
      <li class="tag {{k}}">{{k}}</li>
      {{/ifCond}} {{/ifCond}} {{#ifCond k '===' 'noisy'}} {{#ifCond v '>=' 2}}
      <li class="tag {{k}}">{{k}}</li>
      {{/ifCond}} {{/ifCond}} {{#ifCond k '===' 'vheavy'}} {{#ifCond v '>' 0}}
      <li class="tag {{k}}">{{k}}</li>
      {{/ifCond}} {{/ifCond}} {{/each}}
    </ul>
  </div>
</div>
