<div class="health-container">
    <div class="sidebar-health">
        <div class="vigor-container">
            <div class="vigor-label">
                <h2>Vigor</h2>
            </div>
        <div class="vigor-value">
            <input name="data.health.physical.value" type="text" value="{{data.health.physical.value}}" data-dtype="text" placeholder="20" size="1"/>
        </div>
    </div>
        <div class="vigor-wounds">
            <label>{{localize "CONAN.woundsLabel"}}</label>
            <span title="{{localize "CONAN.woundsTitle"}}">
                <div class = "dots-row" data-target="data.health.physical.wounds.value">
                    {{#each data.health.physical.wounds.dots as |wound index|}}
                        {{#if wound.wounded}}
                            <a class="wounds" data-index={{index}}><i class="fas fa-skull" data-index={{index}}></i></a>
                        {{else}}
                            <a class="wounds" data-index={{index}}><i class="far fa-circle" data-index={{index}}></i></a>
                        {{/if}}
                    {{/each}}
                </div>
            </span>
        </div>
        <div class="resolve-container">
            <div class="resolve-label">
                <h2>Resolve</h2> 
            </div>
            <div class="resolve-value">
                <input name="data.health.mental.value" type="text" value="{{data.health.mental.value}}" data-dtype="Number" placeholder="20" size="1"/>
            </div>
        </div>
        <div class="resolve-traumas">
            <label>{{localize "CONAN.traumasLabel"}}</label>
            <span title="{{localize "CONAN.traumasTitle"}}">
                <div class = "dots-row" data-target="data.health.mental.traumas.value">
                    {{#each data.health.mental.traumas.dots as |trauma index|}}
                        {{#if trauma.wounded}}
                            <a class="wounds" data-index={{index}}><i class="fas fa-skull" data-index={{index}}></i></a>
                        {{else}}
                            <a class="wounds" data-index={{index}}><i class="far fa-circle" data-index={{index}}></i></a>
                        {{/if}}
                    {{/each}}
                </div>
            </span>
        </div>
    </div>
</div>
<div class="fatigue-tracker">
    <input name="data.health.physical.fatigue" type="number" value="{{data.health.physical.fatigue}}" title="{{localize "CONAN.fatigueTitle"}}" data-dtype="text" placeholder="0" size="1"/>
</div>
<div class="despair-tracker">
    <input name="data.health.mental.despair" type="number" value="{{data.health.mental.despair}}"  title="{{localize "CONAN.despairTitle"}}" data-dtype="text" placeholder="0" size="1"/>
</div>
