<ol class="attribute-scores">
    {{#each data.attributes as |attribute id|}}
        <li class="attribute" data-ability="{{id}}">
            <h4 class="attribute-name">
                {{attribute.label}}
            </h4>
            <h2 class="attribute-id" title="{{localize 'CONAN.attributeTitle'}}">
                {{localize (add 'CONAN.attributeId.' id)}}
            </h2>
            <div class="attribute-score" title="{{localize 'CONAN.scoreTitle'}}">
                <input
                    name="data.attributes.{{id}}.value"
                    type="number"
                    value="{{attribute.value}}"
                    data-dtype="Number"
                    placeholder="10"
                />
            </div>
        </li>
    {{/each}}
</ol>