<form class="{{cssClass}} flexcol" autocomplete="off">
    <!-- Grid built with https://grid.layoutit.com/?id=DmKdqSt -->
    <div class="grid-container">
        {{!-- Sheet Header --}}
        <header class="sheet-header">
            {{> systems/conan2d20/templates/actors/includes/actor-header.html}}
            {{> systems/conan2d20/templates/actors/includes/actor-health.html}}
        </header>
        <div class="attributes-skills">
            <h3 class="attributes-skills-title">{{ localize "conan2d20.sectionSkills" }}</h3>
                {{> systems/conan2d20/templates/actors/includes/actor-tabs-skills.html}}
            </fieldset>
        </div>
        <nav class="sheet-tabs tabs" data-group="primary">
            {{!-- Sheet Tab Navigation --}}
            {{> systems/conan2d20/templates/actors/includes/actor-navigation.html}}
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">

            {{!-- Owned Talents Tab --}}
            <div class="tab talents" data-group="primary" data-tab="talents">
                {{> systems/conan2d20/templates/actors/includes/actor-tabs-talents.html}}
            </div>

            {{!-- Owned Weapons Tab --}}
            <div class="tab equipment" data-group="primary" data-tab="weapons">
                {{> systems/conan2d20/templates/actors/includes/actor-tabs-weapons.html}}
            </div>

            {{!-- Owned Equipment Tab --}}
            <div class="tab equipment" data-group="primary" data-tab="equipment">
                {{> systems/conan2d20/templates/actors/includes/actor-tabs-equipment.html}}
            </div>

            {{!-- Owned Spells Tab --}}
            <div class="tab spells" data-group="primary" data-tab="spells">
                {{> systems/conan2d20/templates/actors/includes/actor-tabs-spells.html}}
            </div>

            {{!-- Background Tab --}}
            <div class="tab story" data-group="primary" data-tab="background">
                {{> systems/conan2d20/templates/actors/includes/actor-tabs-background.html}}
            </div>

        </section>
    </div>
</form>