
.attributes {
    grid-template-columns: 200px 200px 200px;
    justify-items: center;
    align-items: start;
    gap: 0;
  }
  
  .attribute > .skill {
    font-size: 2em;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 1fr 1fr;
  }