/* Layout the attributes & skills container */
.attributes-skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px repeat(7, min-content);
    gap: 1px 1px;
    grid-template-areas:
        "attributes-skills-title"
        "agility"
        "awareness"
        "brawn"
        "coordination"
        "intelligence"
        "personality"
        "willpower";
    grid-area: attributes-skills;

    input {
        max-width: 27px;
        text-align: center;
    }
}

h3.attributes-skills-title {
    grid-area: attributes-skills-title;
    font-size: 15px;
    text-justify: center;
    text-align: start;
}

.awareness {
    grid-area: awareness;
}

.agility {
    grid-area: agility;
}

.brawn {
    grid-area: brawn;
}

.coordination {
    grid-area: coordination;
}

.intelligence {
    grid-area: intelligence;
}

.personality {
    grid-area: personality;
}

.willpower {
    grid-area: willpower;
}

/*
.attributes-skills {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    width:180px;
    label {
        width: 100px;
    }
    input {
        width: 20px;
    }
}*/

/* Layout a single attribute group with it's dependant skills */
.attribute-skills {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: space-between;
    margin: 5px;
    }

/* Layout a single attribute with 2 cells: label & value */
.attribute {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
    label { flex-grow:3; }
    input { flex-grow:1; }
}

/* Layout a single skill with its three cells: label, expertise (value), focus */
.skill {
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

    .label {
        flex: 4 0 auto;
        justify-self:start;
        margin: 5px;
    }

    .input {
        flex: 1 0 auto;
        justify-self:end;
        margin: 5px;
    }
}