<h2>Damage</h2>

<h3>{{localize "CONAN.diceRollsLabel"}}</h3>
<div class="roll-card status">
  {{#each damageRolls as |roll r|}}
  <span class="roll-list-entry damage-roll roll" id="roll">{{{roll}}}</span>
  {{/each}}
</div>
<div class="roll-outcomes">
  <label>Damage </label>{{damage}} {{damageType}}
  <br />
  {{#ifEq damageType "physical"}}
  <label>Hit Location </label>{{hitLocation}} {{/ifEq}}
</div>
<br />
<br />
<div class="roll-card buttons">
  {{#if effects}}
  <div class="roll-complications">
    <h3>{{effects}} {{localize "CONAN.damageRollEffectGenLabel"}}</h3>
  </div>
  {{/if}}
</div>
