<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            <h2>Source</h2>
            <div class="source grid grid-2col">
              
            <div class="source-content flexrow flex-center flex-between">
              <label for="data.source.book" class="resource-label">Book</label>
              <input type="text" name="data.source.book" value="{{data.source.book}}" data-dtype="String"/>
            </div>
            <div class="source-content flexrow flex-center flex-between">
  				    <label for="data.source.page" class="resource-label">p.</label>
              <input type="text" name="data.source.page" value="{{data.source.page}}" data-dtype="Number"/>
            </div>
            </div>
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            {{!-- As you add new fields, add them in here! 
WEAPON --> "skill": "", "type": "tool",  "encumbrance": 0, "availability": 1, "cost": 1, "quantity": 1, "reach": 2, "damage": 2, "size": "1H", "qualities": [], "weight": 7
EQUIPMENT --> "skill": "", "type": "tool", "encumbrance": 0, "availability": 1, "cost": 1, "quantity": 3, "weight": 1
            --}}
            <div class="details grid grid-3col">
              <div class="detail-content flexrow flex-center flex-between">
                <label for="data.skill" class="detail-label">Skill</label>
                <input type="text" name="data.skill" value="{{data.skill}}" data-dtype="String"/>
              </div>              
              <div class="detail-content flexrow flex-center flex-between">
                <label for="data.reach" class="detail-label">Reach</label>
                <input type="text" name="data.reach" value="{{data.reach}}" data-dtype="Number"/>
              </div>              
              <div class="detail-content flexrow flex-center flex-between">
                <label for="data.damage" class="detail-label">Damage</label>
                <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="Number"/>
              </div>
              <div class="detail-content flexrow flex-center flex-between">
                <label for="data.size" class="detail-label">Size</label>
                <input type="text" name="data.size" value="{{data.size}}" data-dtype="String"/>
              </div>
              <div class="detail-content flexrow flex-center flex-between">
                <label for="data.qualities" class="detail-label">Qualities</label>
                <input type="text" name="data.qualities" value="{{data.qualities}}" data-dtype="String"/>
              </div>
              <div class="detail-content flexrow flex-center flex-between">
                <label for="data.availability" class="detail-label">Availability</label>
                <input type="text" name="data.availability" value="{{data.availability}}" data-dtype="Number"/>
              </div>
              <div class="detail-content flexrow flex-center flex-between">
                <label for="data.cost" class="detail-label">Cost</label>
                <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/>
              </div>
              <div class="detail-content flexrow flex-center flex-between">
                <label for="data.encumbrance" class="detail-label">Encumbrance</label>
                <input type="text" name="data.encumbrance" value="{{data.encumbrance}}" data-dtype="String"/>
              </div>
              <div class="detail-content flexrow flex-center flex-between">
                <label for="data.quantity" class="detail-label">Quantity</label>
                <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="String" disabled/>
              </div>
            </div>
        </div>
    </section>
</form>
