<div class="conan2d20 conan-counter">
    <div class="counter" data-type="momentum">
        <h2>{{localize "CONAN.momentum"}}</h2>
        <div class="input-controls" >
            {{#if canEdit}} <b><a class="decr">-</a></b> {{/if}}
            <input type="text" value="{{momentum}}" {{#unless canEdit}}disabled{{/unless}}>
            {{#if canEdit}}<b><a class="incr">+</a></b> {{/if}} 
        </div>
    </div>
    <div class="counter" data-type="doom">
        <h2>{{localize "CONAN.doom"}}</h2>
        <div class="input-controls" >
            {{#if canEdit}} <b><a class="decr">-</a></b> {{/if}}
            <input type="text" value="{{doom}}" {{#unless canEdit}}disabled{{/unless}}>
            {{#if canEdit}} <b><a class="incr">+</a></b> {{/if}} 
        </div>
    </div>
</div>