.npc-attr-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    input[type=number] {
        width: 100px;
        text-align: center;
    }

    .attribute-entry {
        text-align: center;
        margin-right: 10px;
    }
}

.npc-skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "skill-entry-combat skill-entry-movement" "skill-entry-fortitude skill-entry-senses" "skill-entry-knowledge skill-entry-social";
  grid-area: npc-skill-grid;

    input[type=number] {
        width: 70px;
        text-align: center;
        float: right;
        margin-right: 20px;
    }

    text-align: center;
}

.skill-entry-cmb { grid-area: skill-entry-combat; }

.skill-entry-mov { grid-area: skill-entry-movement; }

.skill-entry-frt { grid-area: skill-entry-fortitude; }

.skill-entry-sns { grid-area: skill-entry-senses; }

.skill-entry-knw { grid-area: skill-entry-knowledge; }

.skill-entry-scl { grid-area: skill-entry-social; }

.npc-health-grid {
    display: grid;
    gap: 5px 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "npc-vigor npc-resolve" "npc-armor npc-courage";
    grid-area: npc-health-grid;

    input[type=number] {
        width: 70px;
        text-align: center;
        float: right;
        margin-right: 20px;
    }
    text-align: center;
}

.npc-vigor { grid-area: npc-vigor; }

.npc-resolve {
    grid-area: npc-resolve; }

.npc-courage { grid-area: npc-courage; }

.npc-armor { grid-area: npc-armor; }

@import 'attacks';
