@mixin p-reset {
  margin: 0;
  padding: 0;
}

@mixin scrollbar {
  overflow: hidden scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--sidebar-title) transparent;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
