<form class="npcSheet {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                    placeholder="{{localize "CONAN.characterNamePlaceholder"}}" /></h1>
        </div>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Attributes --}}
        <div class="npc-attribute-grid">
            <h2>{{localize "CONAN.npc.sections.attributes"}}</h2>
            <div class="attributes">
                <div class="attribute awa">
                    <div class="attribute-label"> {{localize "CONAN.attributes.awa"}}</div>
                    <div class="attribute-score"><input name="data.attributes.awa" type="number"
                            value="{{data.attributes.awa}}" placeholder="7" /></div>
                </div>
                <div class="attribute int">
                    <div class="attribute-label"> {{localize "CONAN.attributes.int"}}</div>
                    <div class="attribute-score"><input name="data.attributes.int" type="number"
                            value="{{data.attributes.int}}" placeholder="7" /></div>
                </div>
                <div class="attribute per">
                    <div class="attribute-label"> {{localize "CONAN.attributes.per"}}</div>
                    <div class="attribute-score"><input name="data.attributes.per" type="number"
                            value="{{data.attributes.per}}" placeholder="7" /></div>
                </div>
                <div class="attribute wil">
                    <div class="attribute-label"> {{localize "CONAN.attributes.wil"}}</div>
                    <div class="attribute-score"><input name="data.attributes.wil" type="number"
                            value="{{data.attributes.wil}}" placeholder="7" /></div>
                </div>
                <div class="attribute agi">
                    <div class="attribute-label"> {{localize "CONAN.attributes.agi"}}</div>
                    <div class="attribute-score"><input name="data.attributes.agi" type="number"
                            value="{{data.attributes.agi}}" placeholder="7" /></div>
                </div>
                <div class="attribute bra">
                    <div class="attribute-label"> {{localize "CONAN.attributes.bra"}}</div>
                    <div class="attribute-score"><input name="data.attributes.bra" type="number"
                            value="{{data.attributes.bra}}" placeholder="7" /></div>
                </div>
                <div class="attribute coo">
                    <div class="attribute-label"> {{localize "CONAN.attributes.coo"}}</div>
                    <div class="attribute-score"><input name="data.attributes.coo" type="number"
                            value="{{data.attributes.coo}}" placeholder="7" /></div>
                </div>
            </div>
        </div>

        {{!-- Fields of Expertise --}}
        <div class="npc-skills-grid">
            <h2>{{localize "CONAN.npc.sections.fields"}}</h2>
            <div class="skills">
                <div class="skill combat">
                    <div class="attribute-label"> {{localize "CONAN.npc.skills.combat"}}</div>
                    <div class="attribute-score"><input name="data.skills.combat" type="number"
                            value="{{data.skills.combat}}" placeholder="0" /></div>
                </div>
                <div class="skill move">
                    <div class="attribute-label"> {{localize "CONAN.npc.skills.move"}}</div>
                    <div class="attribute-score"><input name="data.skills.move" type="number"
                            value="{{data.skills.move}}" placeholder="0" /></div>
                </div>
                <div class="skill fort">
                    <div class="attribute-label"> {{localize "CONAN.npc.skills.fort"}}</div>
                    <div class="attribute-score"><input name="data.skills.fort" type="number"
                            value="{{data.skills.fort}}" placeholder="0" /></div>
                </div>
                <div class="skill sens">
                    <div class="attribute-label"> {{localize "CONAN.npc.skills.sens"}}</div>
                    <div class="attribute-score"><input name="data.skills.sens" type="number"
                            value="{{data.skills.sens}}" placeholder="0" /></div>
                </div>
                <div class="skill know">
                    <div class="attribute-label"> {{localize "CONAN.npc.skills.know"}}</div>
                    <div class="attribute-score"><input name="data.skills.know" type="number"
                            value="{{data.skills.know}}" placeholder="0" /></div>
                </div>
                <div class="skill soci">
                    <div class="attribute-label"> {{localize "CONAN.npc.skills.soci"}}</div>
                    <div class="attribute-score"><input name="data.skills.soci" type="number"
                            value="{{data.skills.soci}}" placeholder="0" /></div>
                </div>
            </div>
        </div>

        {{!-- Health --}}
        <div class="npc-health">
            <h2>{{localize "CONAN.npc.sections.health"}}</h2>

        </div>

        {{!-- Attacks --}}
        <div class="npc-attacks">
            <h2>{{localize "CONAN.npc.sections.attacks"}}</h2>

        </div>

        {{!-- Abilities --}}
        <div class="npc-abilities">
            <h2>{{localize "CONAN.npc.sections.abilities"}}</h2>

        </div>

        {{!-- Doom Spends --}}
        <div class="npc-doomspends">
            <h2>{{localize "CONAN.npc.sections.doomspends"}}</h2>

        </div>

        {{!-- Notes --}}
        <div class="npc-notes">
            <h2>{{localize "CONAN.npc.sections.notes"}}</h2>

        </div>

        {{!-- Optional --}}
        <div class="npc-optional">
            <h2>{{localize "CONAN.npc.sections.optional"}}</h2>

        </div>

        {{!-- Source --}}
        <div class="reference">
            <label>{{localize "CONAN.ref-book"}}
                <input name="book" type="text" value="" placeholder="Book" /></label>
            <label>{{localize "CONAN.ref-page"}}
                <input name="page" type="text" value="" placeholder="0" /></label>
        </div>


    </section>
</form>